{% extends 'base.html' %} 
{% block style %}
<style>
  
  .center {
    margin: auto;
    width: 90%;
    padding: 80px;
  
  }

  .main-img{
    /* {% comment %} margin: 
    
    position: absolute;
    width: 38%;
    left: 650px;
    top: 60px;
    border-radius: 20px; {% endcomment %} */
    width: 400px;
    position: absolute;
    right:20px;
    left: 68%;
    border-radius: 20px;
    border: 3px solid rgba(0, 0, 255, 0.592);
  }

  .middle{
    color: white;
    background-color: rgba(0, 0, 0, 0.905);
    padding-bottom: 60px;
  }

  .middle h2{
    padding-top:40px ;
    padding-bottom: 20px;
    /* border: 3px solid blue; */
    margin: auto;
    text-align: center;
    font-size: 40px;
  }

  .middle li{
    margin-left: 40px;
    margin-bottom: 10px;
    padding-left: 34px;
    width: 40%;
    /* border: 3px solid blue; */
  }

  .items{
    /* border: 3px solid green; */
    width: 60%;
    font-size: 30px;
    top: 50px;
    left: 30px;
    position: relative;
  }

  .items-1{
    /* border: 3px solid blue; */
    font-size: 30px;
    left: 600px;
    bottom: 60px;
    margin-left: 20px;
    padding-left: 40px;
    position: relative;
  }

  .examples{
    background-color: white;
    padding-bottom: 30px;
    margin: auto;
    padding-top: 20px;
  }

  .examples h3{
    text-align: center;
    padding-bottom: 10px ;
    margin-bottom: 20px;
    font-size: 40px;
  }

  #snap1{
    margin-left: 38px;
    height: 340px;
    border: 3px solid green;
  }

  #snap2{
    border: 3px solid orange;
    margin-left: 40px;
    margin-right: auto;
    height: 340px;
  }

  .footer{
    background-color: black;
    color: white;
    text-align: center;
  }
</style>
{% endblock style %} 

{% block BodyHomePage %}
<div class="body">
  <div class="main-img-div">
    <img class="main-img" src="static/images/Main.png" alt="main-img" >
  </div>  
  
  <div class="center">
    <h1><b>Welcome to,<br> Attendance System</b></h1>
    <a class="btn btn-primary" href="/login">Login</a>
    <a href="/logout">{{display_logout}}</a>
  </div>
  
  <div class="middle">
    <h2><b>Features</b></h2>
    <ul class="list">
      <li class="items">Good And Accurate</li>
      <li class="items">Liveness Detection</li>
      <li class="items-1">Accuracy upto 90%</li>
      <li class="items-1">Attendance Marking</li>
      
    </ul>  
  </div>
  
  <div class="examples">
    <h3><b><u>Snapshot</u></b></h3>
    <img src="static/images/snap1.png" alt="Attendance Demo" id="snap1">
    <img src="static/images/snap2.png" alt="Recognition Demo" id="snap2">
  </div>
  
</div>
<footer class="footer">
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://veerdavlog.blogspot.com/">Veer</a>
  </div>
</footer>
{% endblock BodyHomePage %}
